In [4]:
import pandas as pd

In [5]:
df1 = pd.DataFrame({'RollNo':[1,2,3,4,5], 'Maths':[64,52,84,46,61], 'Physics':[43,95,65,76,38]})
df2 = pd.DataFrame({'RollNo':[6,7,8,9,10], 'Maths':[74,63,41,86,50], 'Physics':[49,65,53,26,98]})
print(df1)
print(df2)

   RollNo  Maths  Physics
0       1     64       43
1       2     52       95
2       3     84       65
3       4     46       76
4       5     61       38
   RollNo  Maths  Physics
0       6     74       49
1       7     63       65
2       8     41       53
3       9     86       26
4      10     50       98

In [12]:
df_combined = pd.concat([df1, df2])

In [13]:
df_combined

   RollNo  Maths  Physics
0       1     64       43
1       2     52       95
2       3     84       65
3       4     46       76
4       5     61       38
0       6     74       49
1       7     63       65
2       8     41       53
3       9     86       26
4      10     50       98